import { useForm } from 'react-hook-form';

export const {{name}} = () => {
  const {
    register,
    handleSubmit,
    formState: { errors },
  } = useForm();

  const onSubmit = (data) => console.log(data);

  return (
    <form onSubmit={handleSubmit(onSubmit)}>
      <input type="text" {...register('name')} className="border-gray-300 rounded-md p-2 dark:bg-slate-800 dark:text-white" />
      <button type="submit" className="bg-blue-500 text-white rounded-md p-2">Submit</button>
    </form>
  );
};
